# Node.js
node_modules/

# Next.js build output
/.next/

# Environment variables
.env

# Log files
*.log

# Editor-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Next.js development server
npm-debug.log
yarn-error.log
